NODE_ENV=development
PORT=3000

DATABASE_URL=postgres://usuario:password@localhost:5432/maqueta_tienda

JWT_ACCESS_SECRET=cambiar-por-un-secreto-fuerte
JWT_REFRESH_SECRET=cambiar-por-otro-secreto-fuerte-distinto
